.gallery{
  text-align: center;
}
.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#image {
  margin: 5px;
}

#label {
  text-align: center;
  line-height: 30px;
  color: white;
}

#myProgress {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #f3f3f3;
  display: none;
}

#myBar {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: #3498db;
}

img {
  cursor: pointer;
  transition: 0.3s;
}

img:hover {
  : not('#img01')opacity: 0.7;
}
/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}
/* Modal Content (image) */

.modal-content {
  margin: auto;
  display: block;
}
/* Caption of Modal Image */
/* Add Animation */

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }
  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}
/* The Close Button */

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

img#ortho-img {
  width: 100%;
}

#map {
  position: relative;
  min-height: 1200px;
  min-width: 1200px;
  width: 100%;
}
